@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  h2 {
    @apply text-xl md:text-2xl lg:text-3xl font-bold;
  }

  h1 {
    @apply text-xl md:text-2xl lg:text-3xl font-bold;
  
  p {
    @apply text-base md:text-lg;
  }
}

}

@theme {
 
  /* Or define a full color palette with shades */
  --color-brand-50: #96A294;
  --color-brand-100: #7D8C81;
  --color-brand-200: #5E6961;
  
  --color-brand-300: #7dd3fc;
  --color-brand-400: #38bdf8;
  --color-brand-500: #060606;
  
}
  