@import "tailwindcss";

:root {
  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-brand-100);
}

.sidebar-cv {
  font-family: "Poppins", sans-serif;
}

.sidebar-cv h1, .sidebar-cv h2 {
  font-weight: 400;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
  }

  h2 {
    @apply text-xl md:text-2xl lg:text-3xl font-bold;
  }




  h1 {
    @apply text-xl md:text-2xl lg:text-3xl font-bold;
  }
  
  p {
    @apply text-base md:text-lg;
  }
}

@theme {
 
  /* Or define a full color palette with shades */
  --font-script: "Caveat", cursive;
  --font-poppins: "Poppins", sans-serif;

  --color-brand-50: #96A294;
  --color-brand-100: #7D8C81;
  --color-brand-200: #5E6961;
  
  --color-brand-300: #C6CDC5;
  --color-brand-400: #38bdf8;
  --color-brand-500: #060606;
  
}
  